div.container-fluid{
    height: max-content;
    padding-top: 200px;
    text-align: center;
    // background-color: rgb(43, 57, 180);
}
div.container-fluid div.information{
    width: 40%;
    height: 80vh;
    margin-top: 60px;
    padding: 20px;
    text-align: center;
    border: 2px solid rgb(43, 57, 180);
    border-radius: 20px;
    box-shadow: 1px 1px 2px rgb(43, 57, 180);
}
div.container-fluid div.information div.profile{
    margin-bottom: 30px;
}
div.container-fluid div.information div.profile img{
    border-radius: 50%;
    border: 2px solid rgb(43, 57, 180);
    transition: 1s;
}
div.container-fluid div.information div.profile img:hover{
    transform: scale(1.3);
}
div.container-fluid div.information div.personnelle p{
    font-size: 1.2em;
}
div.container-fluid div.information div.personnelle a{
    text-decoration: none;
    font-size: 1.3em;
    padding: 10px;
    color: rgb(43, 57, 180);
}


