div.container-fluid{
    height: 700px;
    margin-top: 0;
    padding-top: 350px;
    background-color: rgb(43, 57, 180);
    text-align: center; 
}
div.container-fluid h1{
    text-align: center;
    color: white;
}
div.container-fluid p{
    font-size: 2em;
    color: white;
}





